* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.sidenav {
  background-color: black;
}

.find-matches {
  background-color: #EF212C;
}

.logo-text {
  color: white;
}

.header-tagline {
  color: whitesmoke;
}
/* Potential Match Card */

.card {
  padding: 0;
}

/* Sidenav */

.sidenav {
  height: 100%;
  width: 200px;
  color: white;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidenav a:hover {
  color: #EF212C;
}

.sidenav a:visited {
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Set User Preferences */
.container.user-preferences {
  color: whitesmoke;
}


/* Potential matches */

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  float: right;
}
