* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.sidenav {
  background-color: black;
}

.find-matches {
  background-color: #EF212C;
}

.logo-text {
  color: white;
}